@import url("https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@400,500,700,800&f[]=switzer@400,500,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-cabinet: "Cabinet Grotesk", sans-serif;
  --font-switzer: "Switzer", sans-serif;
}

body {
  font-family: var(--font-switzer);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cabinet);
}
