@import url("https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@100,200,300,400,500,700,800,900&f[]=switzer@100,200,300,400,500,600,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-cabinet: "Cabinet Grotesk", sans-serif;
  --font-switzer: "Switzer", sans-serif;
}

body {
  font-family: var(--font-switzer);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-cabinet);
  font-weight: 800;
}

/* Custom selection color */
::selection {
  background-color: rgba(14, 165, 233, 0.2);
  color: inherit;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}
